.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10rem;
    margin-top: 11rem;
}

.home__img {
    align-self: center;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.home__subtitle {
    color: var(--clr-slate800);
    font-size: var(--size-base);
    line-height: 0.9;
}

.home__title {
    color: var(--clr-slate400);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.home__description {
    max-width: 60ch;
    font-size: var(--size-s);
    color: var(--clr-slate600);
}

.hero__btn {
    text-transform: capitalize;
    font-size: var(--size-s);
}

@media (min-width: 475px) {
    .home {
        gap: 1.5rem;
    }
    
    .home__img {
        width: 6.5rem;
        height: 6.5rem;
    }
    
    .home__subtitle {
        font-size: var(--size-l);
    }
    
    .home__title {
        font-size: var(--size-5xl);
    }
    
    .home__description {
        font-size: var(--size-base);
    }
    
    .hero__btn {
        font-size: var(--size-base);
    }
}

@media (min-width: 1024px) {
    .home__img {
        width: 8rem;
        height: 8rem;
    }
    
    .home__subtitle {
        font-size: var(--size-2xl);
    }
    
    .home__title {
        font-size: var(--size-7xl);
    }
    
    .home__description {
        font-size: var(--size-l);
    }
    
    .hero__btn {
        font-size: var(--size-l);
    }
}

@media (min-xidth: 1280px) {
    .home {
        gap: 2rem;
    }

    .home__img {
        width: 10rem;
        height: 10rem;
    }
    
    .home__subtitle {
        font-size: var(--size-4xl);
    }
    
    .home__title {
        font-size: var(--size-9xl);
    }
    
    .home__description {
        font-size: var(--size-xl);
    }
    
    .hero__btn {
        font-size: var(--size-xl);
    }
}